body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1385231/hand-cursor.png"),
    pointer;
    background-image: url("https://i.redd.it/r5aga989h5x41.jpg");
    background-size: cover;  
    color:white;
    font-optical-sizing:auto;
    text-align:center;
    text-justify: auto;
}

img{
    margin: 0;
    padding: 1rem 0;
    padding-left:8px;
    position: relative;
    width: 500px;
    transition: .2s;
}

img:hover{
    transform: scale(2);
}

.header {
    color:white;
}

.header {
    margin: 0;
    padding: 1rem 0;
    padding-left:8px;
}

.contact {
    margin: 0;
    padding: 1rem 0;
    padding-left:8px;
}

.navigation {
    color:white;
    border-top: 0.25rem solid white;
    border-bottom: 0.25rem solid white;
    padding: 0.5rem 0;
    padding-left: 8px;
    word-spacing: 10px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.content {
    margin: 0;
    padding: 1rem 0;
    padding-left:8px;
}

.footer {
    position:relative;
    color:white;
    text-align:center;
    padding: 1rem 0;
    margin-top: auto;
}

.cover {
    display:flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color:white;
    background-image: url("https://static.wikia.nocookie.net/371921d6-64de-4743-a7ae-9d97f33adf48");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    font-optical-sizing:auto;
    text-align:center;
    text-justify: auto;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fade {
    opacity: 0;
    animation: fade-out 2s;
}